<li>
  <a href="javascript:void(0)" class="question ui-state-default ui-corner-all" data-question-id="<%= @question.id %>">
    <span class="ui-icon ui-icon-help float-left"></span>
    <%= @question.text %>
  </a>
</li>