<h1><%= @form.message['title'] %></h1>
<p><%= @form.message['body'] %></p>
<%= "<META HTTP-EQUIV='Refresh' CONTENT='5; URL=#{@form.message['return_to_url']}'>" unless @form.message['return_to_url'].blank? %>