/* common */
.float-right {float:right;}
.float-left {float:left;}

/* usernav */
#user_nav {position:relative;height:1.6em;margin:-1px 0 1em 0;background-color:#eee;border:1px solid #ccc;padding:1em;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-right-radius:10px;}
#user_nav form {position:absolute;top:0.8em;right:1em;}
#user_nav fieldset.buttons {position:absolute;top:1em;right:0.6em;}

/* content */
#content {}

/* sidebar */
#sidebar {text-align:center;background-color:#000;}

/* lists */
.jm-list {position:relative;margin:0;padding:0;list-style:none;}
.jm-list li {position:relative;margin-bottom:0.4em;}
.jm-list span.ui-icon {margin-right:6px}
.jm-list li > a {display:block;padding:0.5em;text-decoration:none;}
.jm-list li > a:hover {color:#fff;}
.jm-buttons {margin:0;padding:0;list-style:none;display:inline;}
.jm-buttons li {margin-right:4px;padding:4px 0;width:26px;float:left;}
.jm-buttons li > span {margin:0 5px;}
.ui-widget > div {padding:0 1em;}
.ui-widget > div > p {margin:1em 0;display:block;}

/* error explanation */
#errorExplanation {width: 400px;border: 2px solid #CF0000;padding: 0px;padding-bottom: 12px;margin-bottom: 20px;background-color: #f0f0f0;}
#errorExplanation h2 {text-align: left;font-weight: bold;padding: 5px 5px 5px 15px;font-size: 12px;margin: 0px;background-color: #c00;color: #fff;}
#errorExplanation p {color: #333;margin-bottom: 0;padding: 8px;}
#errorExplanation ul {margin: 2px 24px;}
#errorExplanation ul li {font-size: 12px;list-style: disc;}