<h3>Preview</h3>
<style>.pretty_form {margin:0 auto;}</style>
<div id="form"><form class="pretty_form" action="http://<%= HOST %>/receiver/<%= @form.id %>" method="post">
    <input type="hidden" name="_method" value="put" />
    <% @form.questions.each do |question| %>
      <%= question_to_html(question) %>
      <div class="spacer"></div>
    <% end %>
    <button type="submit"><%= @form.submit_button %></button>
    <div class="spacer"></div>
  </form>
</div>
<br />
<div class="section">
  <h3>Code</h3>
  <textarea id="for_copy"></textarea>
</div>

<script>
  $(function(){
    $.get('/stylesheets/blueprint/min.css', function(blueprint){
      $.get('/stylesheets/form.css', function(form){
        var stylesheet = "<style>\n"+blueprint+"\n"+form+"\n</style>"
        $("textarea#for_copy").val($("div#rendered > div#form").html()+stylesheet);
      });
    });
  });
</script>