<form class="pretty_form" action="/receiver/<%= @form.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <% @form.questions.each do |question| %>
    <%= question_to_html(question) %>
    <div class="spacer"></div>
  <% end %>
  <button type="submit">Sign-up</button>
  <div class="spacer"></div>
</form>