<h2>My Forms</h2>
<ul class="jm-buttons ui-widget ui-helper-clearfix">
  <li class="ui-state-default ui-corner-all" id="new_form" title="New Form">
    <span class="ui-icon ui-icon-plus"></span>
  </li>
</ul>
<div style="clear:both;padding-bottom:1em"></div>
<ul class="forms jm-list ui-widget ui-helper-clearfix" id="forms">
  <% for form in @forms %>
    <li>
      <a href="<%= form_path(form) %>" class="ui-state-default ui-corner-all">
        <span class="ui-icon ui-icon-carat-1-e float-left"></span>
        <%= form.name %>
      </a>
    </li>
  <% end %>
</ul>

<div id="dialog"></div>

<script>
  $(function(){
    // open new form dialog
    $("#new_form").click(function(){
      $('#dialog').load('/forms/new');
      $('#dialog').dialog('open');
    })
    // put training video into sidebar
    $("#rendered").append('<object width="468" height="351"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=4765490&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=4765490&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="468" height="351"></embed></object>');
  });
</script>